<!DOCTYPE html>
<html layout:decorate="~{layout_mypage}">
	<head>
		<style>
			th.bg{ 
				background-color: #fbe1e0;
				width:20%;
			}
					
			.noline {
				text-decoration-line: none;
				color: black;
			}
			
			td {
					max-width: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
						td.column_a {width: 60%;}
						td.column_b {width: 20%;}
							td.column_c {width: 10%;}
					td.column_d {width: 10%;}
			

		</style>
	</head>
	<body>
		<div layout:fragment="mypageContent">
				
			<!--전체 영역-->
			<div>
				<!--콘텐츠 영역-->
				<div>	
					<!--콘텐츠 세부 영역-->
					<div class="frame-dvd my-5">
						<!--본문 전체-->
						<span style="font-size: 20px; font-weight: bold;">내 자유게시판</span>
							<div>
								<form th:action="@{/mypage/myPosting}" method="get" id="searchForm">
									<input type="hidden" id="freeSubject" name="freeSubject" th:value="${freeSubject}">
									<input type="hidden" id="page" name="page" th:value="${myFreePosting.number}">
									<input type="hidden" id="askSubject" name="askSubject" th:value="${askSubject}">
									<input type="hidden" id="pg" name="pg" th:value="${myAskPosting.number}">
								</form>
								<!--글 목록(자유게시판)이 없을시-->
								<div th:if="${myFreePosting.isEmpty()}" class="card my-2" style="height:200px; background-color: gainsboro;" >
									<strong style="margin:auto">현재 자유게시판에 작성된 글이 없습니다. 글을 작성해 보세요.</strong>
								</div>
								<!--글 목록(자유게시판)-->
								<div th:unless="${myFreePosting.isEmpty()}">
								 <table class="table table-hover">
										<thead>
											<tr class="table-primary">
												<th>제목</th>
												<th>작성일</th>
												<th>추천</th>
												<th>비추천</th>
											</tr>
										</thead>
										<tbody>
											<div>
												<tr class="table" th:each="posting :${myFreePosting}">
													<td class="column_a">
													<a class="noline" th:href="@{|/free/detail/${posting.no}|}" th:text="${posting.subject}"></a>
													<span th:if="${#lists.size(posting.freeCommentList) > 0}" 
														th:text="${#lists.size(posting.freeCommentList)}"
														class="badge bg-primary rounded-pill"></span>
													</td>
													<td class="column_b" th:if="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd') == #temporals.format(posting.createDate, 'yyyy.MM.dd')}" 
													th:text="${#temporals.format(posting.createDate, 'HH:mm')}"></td>
													<td class="column_b" th:unless="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd') == #temporals.format(posting.createDate, 'yyyy.MM.dd')}" 
													th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd')}"></td>
													<td class="column_c" th:text="${#lists.size(posting.ddabong)}"></td>
													<td class="column_d" th:text="${#lists.size(posting.nope)}"></td>	
												</tr>
										 </div>
										</tbody>
									</table>			
									
									<!--자유게시판 검색-->
									<div style="width:50%;margin:auto;">
										<div class="input-group mb-3">
											<input type="text" id="search_freeSubject" class="form-control" th:value="${freeSubject}">
												<button type="button" id="btn_search_freeSubject" class="btn btn-outline-secondary">검색</button>	
										</div>
									</div>
									<!--자유게시판 페이징-->
									<div th:if="${!myFreePosting.isEmpty()}" >
										<ul class="pagination pagination-sm justify-content-center">
											<li style="padding:0"  class="page-item" th:classappend="${!myFreePosting.hasPrevious} ? 'disabled'">
											 <a name="z" class="page-link" href="javascript:void(0)" th:data-page="${myFreePosting.number-1}">
													<span>&laquo;</span>
											 </a>
											</li>
											<li style="padding:0"  th:each="page : ${#numbers.sequence(0, myFreePosting.totalPages-1) }"
											 th:if="${page >= myFreePosting.number -3 and page <= myFreePosting.number + 3}"
											 th:classappend="${page==myFreePosting.number} ? 'active'" class="page-item">
											 <a name="z" th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
											</li>
											<li style="padding:0"  class="page-item" th:classappend="${!myFreePosting.hasNext} ? 'disabled'">
												<a name="z" class="page-link" href="javascript:void(0)" th:data-page="${myFreePosting.number+1}">
													<span>&raquo;</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<hr>
								
								<span style="font-size: 20px; font-weight: bold;">내 질문&답변</span>
								<div th:if="${myAskPosting.isEmpty()}" class="card my-2" style="height:200px; background-color: gainsboro;" >
									<strong style="margin:auto">현재 질문&답변에 작성된 글이 없습니다. 글을 작성해 보세요.</strong>
								</div>
								<!--글 목록(질문%답변)-->
								<div th:unless="${myAskPosting.isEmpty()}">
									<table class="table table-hover">
										<thead>
											<tr class="table-primary">
												<th>제목</th>
												<th>작성일</th>
												<th>추천</th>
												<th>비추천</th>
											</tr>
										</thead>
										<tbody>
											<div>
												<tr class="table" th:each="posting :${myAskPosting}">
													<td class="column_a">
														<a class="noline" th:href="@{|/askPosting/detail/${posting.no}|}" th:text="${posting.subject}"></a>
													<span th:if="${#lists.size(posting.askCommentList) > 0}" 
														th:text="${#lists.size(posting.askCommentList)}"
														class="badge bg-primary rounded-pill"></span>
													</td>
														<td class="column_b" th:if="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd') == #temporals.format(posting.createDate, 'yyyy.MM.dd')}" 
														th:text="${#temporals.format(posting.createDate, 'HH:mm')}"></td>
													<td class="column_b" th:unless="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd') == #temporals.format(posting.createDate, 'yyyy.MM.dd')}" 
														th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd')}"></td>	
													<td class="column_c" th:text="${#lists.size(posting.ddabong)}"></td>
													<td class="column_d" th:text="${#lists.size(posting.nope)}"></td>
												</tr>
											</div>
										</tbody>
									</table>			
									<!--질문%답변 검색-->
									<div style="width:50%;margin:auto;">
										<div class="input-group mb-3">
											<input type="text" id="search_askSubject" class="form-control" th:value="${askSubject}">
											<button type="button" id="btn_search_askSubject" class="btn btn-outline-secondary">검색</button>
										</div>
									</div>
									<!--질문%답변  페이징-->
									<div th:if="${!myAskPosting.isEmpty()}">
										<ul class="pagination pagination-sm justify-content-center">
											<li style="padding:0"  class="page-item" th:classappend="${!myAskPosting.hasPrevious} ? 'disabled'">
													<a name="y"  class="page-link" href="javascript:void(0)" th:data-page="${myAskPosting.number-1}">
												<span>&laquo;</span>
												</a>
											</li>
											<li style="padding:0"  th:each="pg : ${#numbers.sequence(0, myAskPosting.totalPages-1) }"
												th:if="${pg >= myAskPosting.number -3 and pg <= myAskPosting.number + 3}"
												th:classappend="${pg==myAskPosting.number} ? 'active'" class="page-item">
												<a name="y" th:text="${pg+1}" class="page-link" href="javascript:void(0)" th:data-page="${pg}"></a>
											</li>
											<li style="padding:0"  class="page-item" th:classappend="${!myAskPosting.hasNext} ? 'disabled'">
												<a name="y"  class="page-link" href="javascript:void(0)" th:data-page="${myAskPosting.number+1}">
												<span>&raquo;</span>
												</a>
											</li>
										</ul>
									</div>	     					
								</div>
							</div>
					</div>
				</div>
			</div>	
		</div>
		
		<script layout:fragment="script" type="text/javascript">
			const page_elements = document.getElementsByName("y");
				Array.from(page_elements).forEach(function(element){
				element.addEventListener('click' , function(){
					document.getElementById('pg').value = this.dataset.page;
				document.getElementById('searchForm').submit();
			  });
			});
			const btn_search = document.getElementById("btn_search_askSubject");
			btn_search.addEventListener('click' , function(){
				document.getElementById('askSubject').value = document.getElementById('search_askSubject').value;
				document.getElementById('pg').value = 0;
				document.getElementById('searchForm').submit();
			});
			</script>
		<script layout:fragment="script" type="text/javascript">
			const page_element = document.getElementsByName("z");
				Array.from(page_element).forEach(function(element){
					element.addEventListener('click' , function(){
							document.getElementById('page').value = this.dataset.page;
							document.getElementById('searchForm').submit();
					});
				});
			const btn_searchs = document.getElementById("btn_search_freeSubject");
				btn_searchs.addEventListener('click' , function(){
						document.getElementById('freeSubject').value = document.getElementById('search_freeSubject').value;
						document.getElementById('page').value = 0;
						document.getElementById('searchForm').submit();
					});
			</script> 
	</body>	
</html>