<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8">
    <title>모모, 아이디 찾기</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/momoMember.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--전체 프레임-->
    <div>
      <div class="frame-t">
        비밀번호 찾기입니다 ㄷㄷㄷㄷ


      </div>
      <div class="frame-l">
        인증번호 입력입니다
      </div>
    </div>


  dddddddddddddddddddddddddddddddddddddddddddd

  </body>
</html>