body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.frame-menu {
  width:200px;
  border:1px solid #e1e1e1;
  border-radius: 10px;
  float:left;
}

.titleMenu {
  color:salmon;
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: 10px;
}

.titleMenu:hover {
  background: none;
}

.smlist {
  border-bottom: 1px solid #e1e1e1;
}

.smlistl {
  margin:15px;
}

.mypageUl {
  list-style-type:none;
  padding:0px;
}

li {
  line-height: 2rem;
  color:#999999;
  padding: 2px 10px 2px 20px;
}

li:hover {
  background-color: #f6f6f6;
}

li a:link, li a:visited {
  text-decoration-line: none;
  color:#999999;
}

.menuover {
  background-color: #e1e1e1;
}

.infoBorder {
  border-right: 1px solid #e1e1e1;
}

.frame-dvd {
  width:950px;
  margin: auto;
  overflow: auto;
}

.frame-dvd-l {
  width:460px;
  float: left;
}

.infoTitleB {
  text-align: center;
  padding: 20px 20px 40px 20px;
  font-weight: bold;
  font-size: 1.4rem;
}

.infoTitle {
  width:100%;
	padding:10px;
	margin: auto;
  border-bottom: 2px solid salmon;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.infoTitle2 {
  width:100%;
	padding:10px;
	margin: auto;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.infoContent {
	padding: 15px 0 15px 0;
  text-align: center;
  border-bottom: 1px dashed #e1e1e1;
}

.contentTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.last {
  border-bottom: none;
}

.myModify {
  width:450px;
  overflow: auto;
}

.myModify-p {
  padding-top: 100px;

}

.myModify-r {
  width:450px;
  margin-left: 20px;

}

.myModify-content {
  width:380px;
  float: left;
  padding: 10px 0px 10px 0px;
}

.myModify-icon {
  width:50px;
  float:left;
  text-align: center;
  font-size: x-large;
  padding:10px;
}

.myModify-btn {
  width:380px;
  padding: 10px 0px 10px 0px;
}