<!DOCTYPE html>
<html lang="ko">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/momoLayout.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 	<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css'>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

	<script>
		
		window.addEventListener('scroll', () => {
		  // 스크롤 위치가 100px 이상일 때 위로 가기 버튼을 보이게 함
		  if (
		    document.body.scrollTop > 100 ||
		    document.documentElement.scrollTop > 20
		  ) {
		    document.getElementById('btn-back-to-top').style.display = 'block';
		  } else {
		    document.getElementById('btn-back-to-top').style.display = 'none';
		  }
		});

		// 클릭 시 페이지 맨 위로 스크롤 (애니메이션 효과 추가)
		function backToTop() {
		  const position =
		    document.documentElement.scrollTop || document.body.scrollTop;
		  if (position) {
		    window.requestAnimationFrame(() => {
		      window.scrollTo(0, position - position / 10);
		      backToTop();
		    });
		  }
		}
		
	</script>
		

	<title>모두 모이자, 모모!</title>
	</head>

	<body>
		
		<nav th:replace="~{navbar2 :: navbarFragment}"></nav>
		<th:block layout:fragment="content"></th:block>
		
		<!--자바 스크립트-->
		<th:block layout:fragment="script"></th:block>
			
		
		<button onclick="backToTop()" id="btn-back-to-top" title="위로 가기">Top</button>
	</body>
	
	<footer th:replace="~{footer :: footerFragment}">
	</footer>
	
	
	
</html>