<html layout:decorate="~{layout}">
<div layout:fragment="content" class="my-3">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/about.css}">	
	


<div class="aboutdiv">
	
	<div class="about-inner-div">
				
			<div style="display: flex; padding: 40px;">
				<div style="margin:20px; flex:1; font-weight: bold; font-size: large;">
					<p class="textDiv" style="font-size: 60px;">대한민국</p>
					<p class="textDiv" style="font-size: 60px;">1등 모임 웹사이트</p>
					<p class="textDiv" style="font-size: 60px;">모두 모이자, 모모</p>
					<p class="textDiv" style="font-size: 20px;">모모에 오신 여러분 환영합니다</p>
			
				</div>
				<img class="siz" style="margin:20px;  flex:1;"   th:src="@{/css/images/about-photo-together.jpg}" >
			</div>
		
	</div>
	<div class="about-inner-div">
			<div style="display: flex;  padding: 10px;">
			<img class="siz" style="margin:20px;  flex:1;"   th:src="@{/css/images/about-photo-together2.jpg}" >
			<div style="margin:20px; flex:1; font-weight: bold; font-size: large;">
				<p class="textDiv" style="font-size: 60px;">음식을</p>
				<p class="textDiv" style="font-size: 60px;">덜 외롭게</p>
				<p class="textDiv" style="font-size: 60px;">더 맛있게</p>
				<p class="textDiv" style="font-size: 20px;">혼자먹기 싫은날, 2인이상 주문 가능한 메뉴가 먹고 싶을 때<br>곤란하지 않으셨나요?<br>모모의 같이먹기를 통해 맛있는 음식을 같이 먹어요!
				</p>
			</div>
		</div>
	
	</div>
	<div class="about-inner-div">
		<div style="display: flex; padding: 10px;">
			<div style="margin:20px; flex:1; font-weight: bold; font-size: large; ">
				<p class="textDiv" style="font-size: 60px;">우리지역</p>
				<p class="textDiv" style="font-size: 60px;">맛집 정보를</p>
				<p class="textDiv" style="font-size: 60px;">더 쉽게</p>
				<p class="textDiv" style="font-size: 20px;">나와 가까이 있는 맛집의 다양한 메뉴를 즐겨보세요~</p>
			</div>
			<img class="siz" style="margin:20px;  flex:1; "   th:src="@{/css/images/about-photo-together3.jpg}" >
		</div>

	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</div>
</div>
</html>	
