<html layout:decorate="~{layout}">
	<head>
		<style>
		
			th.cen {
				width:65%;
				text-align :center;
					}
					
			a.no {
			text-decoration: none;
			color :black;
			font-size : 20px;
			
		   }
		   
		   a.noline {
			        
		   			text-decoration: none;
		   			color : black;

		   		}	
						
		   td {
			max-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		   }
		   .frame-b {
		     width:1100px;
		     margin: auto;

		   }

		</style>
    <!--전체-->   
	</head>
	<body>
	<div layout:fragment="content" id='wrapper'>
		
	<form th:action="@{/inquiryPosting/myList}" method="get" id="searchForm">
		<input type="hidden" id="subject" name="subject" th:value="${subject}">
		<input type="hidden" id="page" name="page" th:value="${paging.number}">
	</form>  
	
	<div class="frame-b" >
		<p  style="font-size: 30px; font-weight: bold; ">[문의하기] MOMO에 궁금한 것을 물어보세요 </p>
		<!--글 작성이 되어있지 않을 때-->
		<div th:if="${paging.isEmpty()}" class="card my-2" style="height:200px; background-color: gainsboro;" >
			<strong style="margin:auto">현재 작성한 문의글이 없습니다. 문의해 보세요.</strong>
		</div>
		<!--글 목록-->
		<div th:unless="${paging.isEmpty()}">
		<table class="table table-hover my-2">
			<thead>
			   <tr class="table-primary">
				<th style="width:5%"></th>
				<th class="cen">제목</th>
			    <th style="width:15%">작성일</th>
				<th style="width:15%">처리상태</th>
			   </tr>
			</thead>
			<tbody>
			   <div class="shortTitle">
				<tr class="table" th:each="posting :${paging}">
				 <td>Q</td>
			     <td>
				   <a class="noline" th:href="@{|/inquiryPosting/detail/${posting.no}|}" th:text="${posting.subject}"></a>
				 </td>
				 <td th:if="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd') == #temporals.format(posting.createDate, 'yyyy.MM.dd')}" 
				  th:text="${#temporals.format(posting.createDate, 'HH:mm')}"></td>
				 <td th:unless="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd') == #temporals.format(posting.createDate, 'yyyy.MM.dd')}" 
				  th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd')}"></td>	
	             <td th:if="${#lists.size(posting.commentList) > 0 }">답변 완료</td>
			     <td th:unless="${#lists.size(posting.commentList) > 0}">대기</td>
				</tr>
			   </div>
			</tbody>
		</table>
		</div>	
		<!--글쓰기 버튼-->
		<div style="display: flex;">
			<div align="left" style="width: 50%;">
			<a th:href="@{/inquiryPosting/create}"><button type="button" class="btn btn-primary btn-sm">글쓰기</button></a>
			</div>
			<div align="right" style="width: 50%;">
			<a th:href="@{/inquiryPosting/myList}"><button type="button" class="btn btn-primary btn-sm">목록</button></a>
			</div>
		</div>			
		<!--검색-->
		     <div style="width:50%;margin:auto;">
				<div class="input-group mb-3">
			      <input type="text" id="search_subject" class="form-control" th:value="${subject}">
			      <button type="button" id="btn_search" class="btn btn-secondary">찾기</button>	
		  	    </div>
			</div>
			<!--문의 글 목록 페이징-->
			<div th:if="${!paging.isEmpty()}">
				<ul class="pagination justify-content-center">
			       <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
					   <span>&laquo;</span>
					</a>
				   </li>
				   <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1) }"
					th:if="${page >= paging.number -3 and page <= paging.number + 3}"
					th:classappend="${page==paging.number} ? 'active'" class="page-item">
					  <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
					</li>
					<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
					  <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
					    <span>&raquo;</span>
					  </a>
					</li>
			    </ul>
			</div>	     				
		</div>	
			
		<script layout:fragment="script" type="text/javascript">
			const page_elements = document.getElementsByClassName("page-link");
			Array.from(page_elements).forEach(function(element){
			  element.addEventListener('click' , function(){
			    document.getElementById('page').value = this.dataset.page;
				document.getElementById('searchForm').submit();
			  });
			});
			const btn_search = document.getElementById("btn_search");
			btn_search.addEventListener('click' , function(){
			  document.getElementById('subject').value = document.getElementById('search_subject').value;
			  document.getElementById('page').value = 0;
			  document.getElementById('searchForm').submit();
			});
		</script>
	</div>
</html>
