<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/momoCommunity.css}">
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-straight/css/uicons-bold-straight.css'>
	</head>
	<body>
		<!--전체 영역-->
		<div layout:fragment="content" id="wrapper">
			<!--전체 영역(width:1280px)-->
			<div class="frame-c">
				<!--로고 영역-->
				<div>


				</div>
				<!--게시판 전체 영역(width:1100px)-->
				<div class="frame-b">
					
					<!--게시물 본문-->
					<div class="frame-f p-4">
						<form th:action="@{/inquiryPosting/create}" method="post" th:object="${inquiryPostingForm}">
							<!--유효성 검사 결과-->
							<div th:replace="~{form_errors :: formErrorsFragment}"></div>

							<label class="form-label ps-2 fs-5 fw-bold">제목</label>
							<div class="form-floating mb-3">
								<input type="text" th:field="*{subject}" class="form-control" id="floatingInput" placeholder="제목을 입력하세요">
								<label for="floatingInput">제목을 입력하세요</label>
							</div>
	
							<label class="form-label ps-2 fs-5 fw-bold">본문</label>
							<div>
								<textarea th:field="*{content}" class="form-control p-3" style="resize: none;" rows="15" placeholder="본문을 입력하세요"></textarea>
							</div>

							<!--버튼 영역-->
							<div class="frame-d mt-4">
								<div class="frame-dl half left">
									<button type="submit" class="btn btn-primary">글쓰기</button>
								</div>
								<div class="frame-dl half right">
									<a th:href="@{/inquiryPosting/myList}"><button type="button" class="btn btn-secondary">목록</button></a>								</div>
							</div>							
						</form>
					</div>	
				</div>
			</div>
		</div>

		
	</body>
</html>